.inputField {
    margin: 10px;
}

.numButton {
    margin: 5px;
    width: 10vmin;
}

.button {
    margin: 10px;
}

.operator {
    margin: 10px;
}

#operatorInput {
    width: 15px;
}

#input {
    width: 300px;
}

#clear {
    width: 10vmin;
    margin-left: 5px;
}
