* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
}

.calculator {
    display: grid;
    margin: 5em auto;
    background-color: orange;
    grid-template-rows: 6em 27em 6em ;
    grid-template-columns: 15em 21em 15em ;
    /*grid-template-areas: ". inputField ."*/
    /*                     ". calc-container ."*/
    /*                      ". operator-container .";*/
    grid-gap: 0;
}

.super-container {
    display: flex;
    flex-wrap: wrap;
    height: 90%;
    grid-area: 1/2/span 2/span 1;
    background-color: black;
    border-radius: 3em;
}
.super-container div {
    display: flex;
    width: 100%;
    background-color: black;
    justify-content: center;
}

main button {
    color: #ababab;
}


div:last-child {
    align-items: center;
}

.inputField {
    height: 3em;
    margin: auto;
    position: relative;
    grid-area: inputField;
    border-top: 3px solid black;
    border-right: 3px solid black;
    border-left: 3px solid black;
    border-radius: 1em 1em 0 0;
}

.inputField input:nth-child(2) {
    text-align: center;
    width: 100%;

}

.inputField input:nth-child(1)  {
    border-radius: 1em 0 0 0;
    max-width: 10em;
    border-left: 1px solid #ababab;
}

.inputField input:nth-child(3)  {
    border-radius: 0 1em 0 0;
    max-width: 10em;
    border-right: 1px solid #ababab;
}

.inputField input {
    padding: 1em;
    text-align: center;
    background-color: #333;
    color: #ababab;
    /*box-shadow: .5em .5em #ababab inset;*/
    border-bottom: 1px solid #ababab;
    border-top: 1px solid #ababab;
    border-left: none;
    border-right: none;
}

.operator {
    width: 3em;
    height: 3em;
    border-radius: 3em;
    border: none;
    background-color: #79798c;
    position: relative;
    bottom: 1em;
    left: 1em;
    margin: .5em;
}

.calculator button:not(.operator){
    width: 7em;
    height: 7em;
    border: none;
    border-radius: 7em;
    background-color: #56566e;
    margin: .5em auto;

}

.clear-button {
    order: 2;
}

.equal {
    order: 3;
}

.zero {
    order: 1;
}

.calc-container {
    grid-area: calc-container;
    box-shadow: 1em 1em #ababab;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 100%;
    align-content: flex-start;
    justify-content: space-evenly;
}

.operator-container {
    grid-area: operator-container;
    box-shadow: 1em 1em #ababab;
    border-radius: 0 0 1em 1em;
    padding: 1em 0 0 0;
    align-items: flex-start;
    flex-wrap: wrap;
}




